body .sidebar { width: 250px; margin: 15px; }
body .selected-game { width: 960px; margin: 0 auto; }
body .selected-game .title { margin: 0 auto; text-align: center; }
body .selected-game ul { list-style: none; }
body .selected-game .decklists .player1, body .selected-game .decklists .player2 { width: 200px; }
body .selected-game .horizontal-divider { clear: both; width: 100%; background-color: black; height: 1px; }
body .selected-game .hovered-card { width: 200px; height: 280px; }
body .selected-game .hovered-card img { width: 200px; height: 280px; }
body .selected-game .board-state { width: 760px; }
body .selected-game .zones .zone .card { width: 44px; height: 60px; border: 1px solid black; }
body .selected-game .zones .zone.hand { background-color: lightblue; height: 100px; width: 760px; }
body .selected-game .zones .zone.stack { background-color: darkred; height: 250px; width: 100px; }
body .selected-game .zones .zone.play { background-color: lightgrey; height: 250px; width: 660px; }
