body

  .sidebar
    width: 250px
    margin: 15px

  .selected-game
    width: 960px
    margin: 0 auto

    .title
      margin: 0 auto
      text-align: center

    ul
      list-style: none

    .decklists
      .player1, .player2
        width: 200px

    .horizontal-divider
      clear: both
      width: 100%
      background-color: black
      height: 1px

    .hovered-card
      width: 200px
      height: 280px
      img
        width: 200px
        height: 280px

    .board-state
      width: 760px

    .zones
      .zone
        .card
          width: 44px
          height: 60px
          border: 1px solid black

        &.hand
          background-color: lightblue
          height: 100px
          width: 760px
        &.stack
          background-color: darkred
          height: 250px
          width: 100px

        &.play
          background-color: lightgray
          height: 250px
          width: 660px


