body

  .sidebar
    width: 250px
    margin: 15px

    .hover-card-display
      img
        width: 234px
        height: 334px

  .selected-game
    width: 960px
    clear: both
    margin: 0 auto
    ul
      list-style: none

    .player1, .player2
      width: 200px

    .hovered-card
      margin-left: 140px
      width: 200px
      height: 280px
      img
        width: 200px
        height: 280px

    .board-state
      width: 960px
      clear: both

    .zones
      .zone
        .card
          width: 44px
          height: 60px
          border: 1px solid black

        &.hand
          background-color: lightblue
          height: 100px
          width: 960px
        &.stack
          background-color: darkred
          height: 250px
          width: 100px
          clear: both
        &.play
          background-color: lightgray
          height: 250px
          width: 860px


