body

  .sidebar
    width: 250px
    margin: 15px

    .hover-card-display
      img
        width: 234px
        height: 334px

  .selected-game
    width: 960px - 250px - (15px * 2)

    ul
      list-style: none

    .zones
      .zone
        width: 200px

        &.graveyard
          background-color: lightcoral
        &.hand
          background-color: lightblue
        &.play
          background-color: lightgray
        &.exile
          background-color: lightgreen


