$zoneBorderColor: darkgrey
$boardWidth: 710px
$boardHeight: 350px
$cardWidth: 250px
$stackWidth: 100px
$playerInfoWidth: 100px
$handWidth: $boardWidth - $playerInfoWidth

.selected-game
  .title
    margin: 0 auto
    text-align: left

  ul
    list-style: none

  .decklists
    width: $boardWidth
    .player1, .player2
      min-width: 210px
      position: relative
      a:hover
        text-decoration: none
        cursor: pointer
    .prev, .next
      margin: 0 5px
      position: absolute
    .prev
      left: 0
      top: 50%
    .next
      left: 95%
      top: 50%
  .horizontal-divider
    clear: both
    width: 100%
    background-color: $zoneBorderColor
    height: 1px

  .hovered-card
    width: $cardWidth
    height: 350px
    img
      width: $cardWidth
      height: 350px

  .board-state
    width: $boardWidth

  .player1
    .hand:after
      position: absolute
      border-bottom: 1px solid $zoneBorderColor
      border-left: 1px solid $zoneBorderColor
      width: $handWidth - 1px
      height: inherit

  .player2
    .hand:after
      position: absolute
      border-top: 1px solid $zoneBorderColor
      border-left: 1px solid $zoneBorderColor
      width: $handWidth - 1px
      height: inherit

  .zones
    .zone
      .card
        /* Font visibility */
        color: white
        text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black
        line-height: 10px
        /* sizing */
        width: 56px
        height: 85px
        margin: 5px 3px
        /* relative positioning */
        float: left
        z-index: 1
        position: relative
        img
          z-index: -1
          position: absolute
          width: 56px
          height: 85px
          top: 0
          left: 0

      $handHeight: 100px
      &.hand
        position: relative
        background-color: lightgray
        height: 100px
        width: $handWidth
        .card
          margin-left: 10px

      &.stack
        background-color: #ff8e8d
        height: $boardHeight - $handHeight
        width: $stackWidth
        & .card
          margin-left: 10px
        & .card:nth-child(2)
          margin-left: 20px
        & .card:nth-child(3)
          margin-left: 30px
        & .card:nth-child(4)
          margin-left: 40px
        & .card:nth-child(n+2)
          margin-top: -40px
        & .card:nth-child(n+5)
          display: none

      &.play
        background-color: lightgray
        height: 250px
        width: $boardWidth - $stackWidth - $playerInfoWidth
        .card
          margin-left: 10px
    .player-info
      position: relative
      background-color: lightgray
      height: $boardHeight
      width: $playerInfoWidth
      &:after
        position: absolute
        border-right: 1px solid $zoneBorderColor
        width: inherit
        height: inherit
      .zone.graveyard, .zone.exile
        height: $boardHeight / 2
        width: $playerInfoWidth
        .card
          margin-left: 10px
        .card:nth-child(2)
          margin-left: 20px
        .card:nth-child(n+2)
          margin-top: -40px
        .card:nth-child(n+3)
          display: none
