<head>
  <title>Spectator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="container">
  <div class="row">
    <div class="span11">
      <div class="header row">
        <div class="span5">
          <h3 style="margin-bottom: 0px">Spectate MTG records</h3>
        </div>
        <div class="span5">
          <div style="float: right">
            {{loginButtons align="right"}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{renderPage}}
</div>
</body>

<template name="home">
  <div class="container">
    {{>sidebar}}

    <div class="intro">
      <p>Spectator is a web application I created to help people keep track of the board state of a live MTG game. Feel free to browse or search through the games listing, or login and try creating your own game!</p>
    </div>
  </div>
</template>

<template name="sidebar">
  <div class="pull-left sidebar">
    <div class="row">
      <div class="span12">
        {{>games}}
      </div>
    </div>
  </div>
</template>








