<template name="createGameDialog">
  <div class="modal create-game">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Add Game</h3>
    </div>

    <div class="modal-body">
      {{#if error}}
      <div class="alert alert-error">{{error}}</div>
      {{/if}}

      <label>Title</label>
      <input class="title span5" type="text"/>

      <label>Description</label>
      <textarea class="description span5"></textarea>

      <label class="checkbox">
        <input class="private" type="checkbox"/>
        Private Game
      </label>
      <hr />
      <div class="players">
        <div class="player1 pull-left">
          <label>Player 1 Name:</label>
          <input class="name" type="text"/>
          <label>Decklist:</label>
          <textarea class="decklist" cols="30" rows="10"></textarea>
        </div>
        <div class="decklist-explanation pull-left">
          Enter decklists as any of the following formats:
          <ul>
            <li>(4x {card})</li>
            <li>(4, {card})</li>
            <li>(4 {card})</li>
          </ul>
        </div>
        <div class="player2 pull-left">
          <label>Player 2 Name:</label>
          <input class="name" type="text"/>
          <label>Decklist:</label>
          <textarea class="decklist" cols="30" rows="10"></textarea>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <a class="btn cancel" href="#">Cancel</a>
      <a class="btn btn-primary save" href="#">Add Game</a>
    </div>
  </div>
</template>