<template name="games">
  <div class="games">
    <div class="public-games">
      <span class="title">Public Games</span>
      <table class="table-striped">
        <tbody>
        <tr>
          <th>Title</th>
          <th>Player 1</th>
          <th>Player 2</th>
          {{#if currentUser}}
          <th>Record</th>
          {{/if}}
        </tr>
        {{#each publicGames}}
        <tr>
          {{>gameRow}}
        </tr>
        {{/each}}
        </tbody>
      </table>
    </div>

    {{#if currentUser}}
    <div class="row">
      <div class="span12">
        <button class="btn btn-primary create">Create Game</button>
      </div>
    </div>
    <div class="user-games">
      <span class="title">Your Games</span>
      <table class="table-striped">
        <tbody>
        <tr>
          <th>Title</th>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Record</th>
        </tr>
        {{#each userGames}}
        <tr>
          {{>gameRow}}
        </tr>
        {{/each}}
        </tbody>
      </table>
      {{/if}}
    </div>
  </div>
</template>

<template name="gameRow">
  <td><a href="/games/{{_id}}">{{title}}</a></td>
  <td>{{player1.name}}</td>
  <td>{{player2.name}}</td>
  <td>{{#if isOwner}}<a class="btn btn-mini" href="/games/{{_id}}/record/player1">Record</a>{{/if}}</td>
</template>
