<template name="selectedGame">
  <button class="home">Back</button>
  <div class="selected-game">
    {{#with game}}
    <h3 class="title">{{title}}</h3>

    {{>decklists}}

    {{>boardstate}}

    <div class="hovered-card pull-right">
      {{> hoveredCard}}
    </div>


  </div>
    {{/with}}
  </div>
</template>

<template name="boardstate">
  <div class="board-state pull-left">
    {{#with player1.zones}}
    <div class="player1 zones">
      {{>zone hand}}

      {{>zone play}}

      {{>zone stack}}
    </div>
    {{/with}}
    <div class="horizontal-divider"></div>
    {{#with player2.zones}}
    <div class="player2 zones">
      {{>zone play}}

      {{>zone stack}}

      {{>zone hand}}
    </div>
    {{/with}}
  </div>
</template>




