<template name="selectedGame">
  <button class="home">Back</button>
  <div class="selected-game">
    {{#with game}}
    <div class="player1 pull-left">
      {{#with player1}}
      {{name}}
      {{>decklist}}
      {{/with}}
    </div>

    <div class="pull-left hovered-card">
      {{> hoveredCard}}
    </div>

    <div class="player2 pull-right">
      {{#with player2}}
      {{name}}
      {{>decklist}}
      {{/with}}
    </div>

    {{>boardstate}}

    {{/with}}
  </div>
</template>

<template name="boardstate">
  <div class="board-state pull-left">
    {{#with player1}}
      {{>zones}}
    {{/with}}
  </div>

</template>

<template name="decklist">
  <ul>
    {{#each decklist}}
    <li>{{this.quantity}} <a class="card" name="{{this.name}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
</template>