<template name="decklistsViewing">
  <div class="decklists clearfix">
    <div class="player1 pull-left">
      {{player1.name}}
      {{{player1DecklistNav}}}
      <ul>
        {{#each player1Decklist}}
        <li>{{this.quantity}} <a class="card" data-name="{{this.name}}">{{this.name}}</a></li>
        {{/each}}
      </ul>
    </div>

    <div class="player2 pull-right">
      {{player2.name}}
      {{{player2DecklistNav}}}
      <ul>
        {{#each player2Decklist}}
        <li>{{this.quantity}} <a class="card" data-name="{{this.name}}">{{this.name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>