<template name="gameViewing">
  <a href="/">Home</a>
  <div class="selected-game">
    {{#with game}}
    <h3 class="title">{{title}}</h3>

    {{>decklistsViewing}}

    {{>boardViewing}}

    <div class="hovered-card pull-right">
      {{> hoveredCard}}
    </div>

    {{/with}}
  </div>
</template>

<template name="boardViewing">
  <div class="board-state pull-left">
    {{#with player1.zones}}
    <div class="player1 zones">
      <div class="player-info pull-left clearfix">
        {{>zoneViewing graveyard}}

        {{>zoneViewing exile}}
      </div>

      {{>zoneViewing hand}}

      {{>zoneViewing play}}

      {{>zoneViewing stack}}
    </div>
    {{/with}}
    <div class="horizontal-divider"></div>
    {{#with player2.zones}}
    <div class="player2 zones">
      <div class="player-info pull-left clearfix">
      {{>zoneViewing graveyard}}

      {{>zoneViewing exile}}
      </div>
      {{>zoneViewing play}}

      {{>zoneViewing stack}}

      {{>zoneViewing hand}}
  </div>
  {{/with}}
</template>




