<template name="gameRecording">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <div class="recording-game">
    <a href="/">Home</a>
    {{#with game}}
    <div class="details">
      <h3>Recording - {{title}}</h3>
      {{#with currentPlayer}}{{name}}{{/with}}
      <a class="btn btn-small" href="/games/{{_id}}/record/{{otherPlayer}}">Switch Players</a>
    </div>
    <div class="decklist player1 pull-left">
      {{#with currentPlayer}}
        {{>decklistRecording}}
      {{/with}}
    </div>
    {{#with currentPlayer}}
      {{>boardRecording}}
    {{/with}}
    {{/with}}
  </div>
</template>

<template name="boardRecording">
  <div class="board">
    {{>zoneRecording zones.hand}}
    {{>zoneRecording zones.stack}}
    {{>zoneRecording zones.play}}
    {{>zoneRecording zones.graveyard}}
    {{>zoneRecording zones.exile}}
  </div>
</template>